.NavContainer {
    width: 80vw;
    max-width: 1280px;
    margin: 0.25em auto 0 auto;
}


.Navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 2.5em;
    background-color: white;
    display: flex;
    justify-content: right;
}

.hamburger-btn {
    border: none;
}
.hamburger-btn:hover {
    background-color: grey;
    cursor: pointer;
}
