.spacer {
    position: fixed;
    width: 80vw;
    max-width: 1280px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: white;
    height: 1em;
    z-index: 3;
}

.NavContainer {
    width: 80vw;
    max-width: 1280px;
    margin: 0.25em auto 0 auto;
    position: fixed;
    left: 50%;
    top: 1vh;
    transform: translateX(-50%);
    z-index: 3;
}

.Navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 2.5em;
    background-color: white;
    display: flex;
    justify-content: right;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-top: 0.5em;
}

.nav-list-element {
    padding: 0 7vw 0 7vw;
}


.hamburger-btn,
.upload-btn {
    border: none;
}

.hamburger-btn:hover,
.upload-btn:hover {
    background-color: grey;
    cursor: pointer;
    background-color: transparent;
    scale: 1.2;
}

/* Mobile specific css */
@media only screen and (max-width: 32.5em) {
    .spacer,
    .NavContainer {
        width: 95vw;
    }
}
